# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Dependency directory
node_modules/

# Build outputs
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production
